* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.cointaner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.card {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    border-radius: 15px;
}

.imgBox {
    width: 90%;
    border: 5px;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.textBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    gap: 20px;
}

.textBox h3{
    font-weight: 800;
}

button {
    width: 90%;
    height: 40px;
    background-color: orange;
    transition: 0.5s;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: orangered;
}

button:active {
    background-color: green;
}