
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.cointaner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.card {
    width: 300px;
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;

}

.imgBox {
    width: 100%;
    overflow: hidden;
    border-radius: 6px;

   img{
    width: 100%;

   }
}

.textBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    gap: 16px;
    margin-bottom: 14px;

    h4{
        font-family: "Young Serif", serif;
    }
}



.footer{

    display: flex;
    align-items: center;
    gap: 10px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 5px;

    .first-p{
        font-weight: 600;
    }

.second-p{
    font-size: 15px;
}

}



.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img{
        width: 100%;
        height: 100%;

    }
}

.card-body{
    padding:0 10px 10px 10px;
}
