
* {
    border: none;
}


body {
    background-color: rgb(127, 28, 127) !important;


    display: flex;
    align-items:center ;
    justify-content: center;
}

.card-header img {
    border-radius: 50%;
    border: 4px solid purple;
    width: 65%;
    height: 85%;
    padding: 2px;
}

.card-header {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-footer-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: 10px;
}

.btn-outline-purple {
    background-color: white;
    color: purple !important;
    border: 2px solid purple !important;
}

.btn-purple {
    background-color: purple !important;
    color: white !important;
}

.btn-outline-purple:hover,
.btn-purple:hover {
    opacity: 0.8;
}

.card {
    margin: 20px;
    padding-bottom: 20px;
    margin-top: 200px;
}

.card-title {
    color: purple !important;
    font-weight: 500;
    font-size: larger;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text-lorem {
    text-align: center;
    font-size: medium;
}

.card-text {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 7px;
}

.star-icon {
    width: 20px;
    height: 20px;
}

.star-icon + .star-icon {
    margin-left: 5px;
}
