* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 100px;
    background-color: rgb(4, 134, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 30px;
}

.nav p {
    font-size: 12px;
    color: rgb(189, 198, 205);
}

.main {
    height: 390px;

}

.green-div {
    width: 900px;
    height: 160px;
    background-color: green;
    border-radius: 5px;
    margin: auto;
    padding: 25px;
    margin-top: 20px;

}

.green-div .second-p{
    margin-left: 730px;
    margin-top: 15px;
}

.red-div {
    width: 500px;
    height: 140px;
    background-color: red;
    border-radius: 25px;
    margin: auto;
    margin-top: 20px;
    padding-top: 40px;
}

.red-div p{
    text-align: center;
    color: white;
}

.red-div h1{
    text-decoration: underline;
    text-align: center;
    color: white;
    font-size: 25px;
}

.footer{
    margin-top: 20px;
    height: 302px;
    background-color: rgb(40, 44, 51);
    color: white;
    padding: 50px;
}
.footer h1{
    font-size: 26px;
    margin-bottom: 20px;
}

.footer p{
    font-size: 13px;
}

.first{
    margin-bottom: 15px;
}