*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.navbar {
    background-color:rgb(44, 62, 80);
    --bs-bg-opacity: 1;
    background-color: rgba(44, 62, 80), var(1) !important;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar-brand {
    font-size: 30px; 
    font-weight: 500;
    color: white;
}
.navbar-nav .nav-link {
    font-size: 17px; 
    transition: all 0.5s ease; 
    font-weight: 700;
    color: white;
}


.navbar-nav {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.nav-item {
    margin: 0 10px;
}


.navbar-nav .nav-link:hover{
color:#1abc9c;
}
.navbar-nav .nav-item.active {
    background-color: #1abc9c;
    border-radius: 10px;
    width: 140px;
    height: 60px;
}

.p:hover {
    color: white !important;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    background-color: #1abc9c;
    height: 750px;
}


