@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:wght@300..800&family=Oswald:wght@200..700&family=Poppins:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 400vh;
}

.container {
    padding: 0 80px !important;
}


.header-banner {
    background: #b0762c url(https://n11scdn.akamaized.net/a1/org/25/03/21/59/22/12/65/16/72/18/43/78/98705717187360503777.jpg) no-repeat center;
    height: 60px;
}

.head-section {
    padding: 18px 0;
}

.one{
    display: none;
}

.logo div {
    width: 90px;

    img {
        width: 100%;
    }
}

.mobile-searh-box{
    display: none;
}

.search-box {
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 12px 0 12px 16px;
    border: 1px solid #5d3ebc;
    border-radius: 30px;
    margin-left: 25px;
}



.search-box i {
    color: #5d3ebc;
}

.search-box input {
    border: none;
    outline: none;
    padding-left: 10px;
}

.location {
    display: flex;
    align-items: center;
    position: relative;
}

.location-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location-div i {
    color: #5d3ebc;
    font-size: 26px;
}

.location::after {
    content: '';
    position: absolute;
    right: 10px;
    width: 1px;
    height: 25px;
    background-color: #d3d6df;
    top: 50%;
    margin-top: -12px;
}

.address-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.address-info span {
    font-weight: bold;
    color: #4f4f4f;
    font-size: 10px;
    line-height: 14px;
}

.address-info a {
    font-size: 13px;
    color: #5d3ebc;
    font-weight: 600;
}

.user {
    display: flex;
    align-items: center;
    gap: 30px;
}

.user i {
    color: #5d3ebc;
    font-size: 24px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-options div {
    display: flex;

}

.user-options span {
    font-weight: bold;
    color: #4f4f4f;
    font-size: 10px;
    line-height: 14px;
}

.user-options a {
    font-size: 13px;
    color: #5d3ebc;
    font-weight: 600;
    width: 51px !important;
}

.cat-menu {
    padding-top: 18px;
}

.cat-menu .row {
    margin-right: 0 !important;
}

.category {
    box-shadow: 0 2px 1px -1px rgba(31, 31, 31, .06), 0 1px 1px 0 rgba(31, 31, 31, .08), 0 1px 3px 0 rgba(31, 31, 31, .06);
    background-color: #f6f7f9;
    display: flex;
    align-items: center;

}

.category ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
}

.category ul li {
    display: flex;
    border-bottom: 3px solid #f5f5f5;
}

.category ul li a {
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 43px;

}

.category ul li a span {
    font-size: 13px;
    font-weight: 600;
    color: #424242;
    max-width: 107px;
    margin-left: 5px;
}

.category ul li a img {
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    height: 30px;
    width: 30px;
}

.carousel {
    border-radius: 10px !important;
    overflow: hidden !important;
}

.carousel-item img {
    image-rendering: crisp-edges;
}

.carousel-indicators button {
    border-radius: 50% !important;
    width: 9px !important;
    height: 9px !important;
    background-color: rgb(184, 184, 184) !important;
    border: 1px solid white !important;
    transition: background-color 0.3s;
}

.carousel-indicators .active {
    background-color: black !important;
}

.carousel-indicators button:hover {
    background-color: #ccc;
}


.for-me-section {
    padding: 16px 0;
}

.for-me {
    border-radius: 8px;
    background-color: #edeff3;
    padding: 16px;
    display: flex;
}

.for-me a {
    width: 25%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.07px;
    color: #1f1f1f;
    text-decoration: none;
    position: relative;
    gap: 20px;
}

.for-me a::after {
    content: '';
    position: absolute;
    right: 10px;
    width: 1px;
    height: 30px;
    background-color: #a0a0a0;
    top: 50%;
    margin-top: -15px;
}

.for-me a:last-child::after {
    content: none;
}


.for-me a img {
    width: 55px;
    height: 55px;
}

.first-card-section h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -.2px;
    color: #1f1f1f;
    margin-bottom: 10px;
}


.product {
    border-radius: 6px;
    width: 259px !important;
    box-sizing: border-box;
    overflow: hidden;
}

.product-image {
    width: 100%;
    border: 1px solid #ededed !important;
    overflow: hidden;
    height: 249px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
}

.product-image .fa-heart {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: block;
    z-index: 2;
    margin: 0;
    top: 9px;
    right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image span i {
    content: "";
    font-size: 22px;
}

.product-image .image-text {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image .image-text span {
    font-size: 14px;
    font-weight: 800;
    line-height: 1.54;
    color: #5d3ebc;
}

.cargo {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 55px;
    height: 55px;
}

.cargoimg {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
}

.product-body {
    padding: 0 6px;
}

.product-name {
    display: block;
    overflow: hidden;
}

.product-name h3 {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -.05px;
    color: #1f1f1f;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 53px;
    margin: 9px 0;
    padding: 0;
}

.rating {
    position: relative;
}

.rating i {
    font-size: 12px;
}

.rating span {
    font-size: 11px;
    position: absolute;
    bottom: 2px;
}

.price {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
}

.original-price {
    font-size: 15px;
    line-height: 1.29;
    letter-spacing: -.05px;
    color: #707070;
    padding: 0;
    margin-bottom: 3px;
}

.in-cart {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .14px;
    color: #4f379b;
    line-height: 1.7;
}

.end-price {
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -.22px;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}



#product-container,
#wear-container,
#clothers-container,
#elektronik-container {
    display: flex;
    gap: 10px;
}



.time-section,
.prim-section {
    padding: 40px 0 20px 0;
}

.time-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5d3ebc;
    border-radius: 8px;
    padding: 12px 24px;
    margin-bottom: 16px;
}

.time-text {
    position: relative !important;
}

.time-text a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.05px;
    color: #fff;
    line-height: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.time-text a span {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: .6rem;
    color: #fff;

}

.time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.time-views {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 5px;
    margin: 0 5px;
}

.separator {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}




.brands-section {
    background: #edeff3;
    margin: 25px 0;
    padding: 24px 0;
}

.brands-section .brand-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;


    h2 {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -.34px;
        color: #1f1f1f;
    }
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 1400px;
    margin: auto;
}

.brands-container {
    display: flex;
    transition: 0.5s ease-in-out;
    width: 300%;
}

.brand-page {
    display: flex;
    min-width: 100%;
    gap: 10px;
    padding-left: 25px;

}

.brand-page img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    transition: 0.3s;
    border-radius: 50%;
    overflow: hidden;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 222;
}

.left {
    left: -5px;

}

.right {
    right: -5px;
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.indicator {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.indicator.active {
    background: #555;
    transform: scale(1.2);
}

.clothers-section {
    padding: 60px 0;
}


.two-section .container{
    display: flex;
    justify-content:center ;
}

.first-image {
    background-image: url(image/WhatsApp\ Image\ 2025-03-25\ at\ 10.51.19_a41637e3.jpg);
    width: 100%;
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    border-radius: 8px;
}


.electronic {
    display: flex;
    flex-direction: column;
    width: 50% !important;
    align-items: center;
    gap: 30px;
    padding: 10px 0;

}

.electronic-praduct .product {
    width: 33.3% !important;
    background-color: white;

    .product-image {
        height: 150px;
    }
}

.electronic-brand{
    display: flex;
    gap: 5px;
}

.electronic-brand div {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

   img{
    width: 100%;
   }
}



@media screen and (max-width: 1181px) {
    .footer .container {
        width: 90%;
    }
}

.footer-main-title h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #505050;
}

.footer-main-title p {
    margin-top: 4px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -0.05px;
    color: #707070;
}

.footer-main-title a {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 600;
    color: #707070;
}

.footer-main-icons {
    display: flex;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 0 40px;
    width: 100%;
    padding: 24px 0;
    margin-top: 20px;
}

.footer-main-icons-item {
    gap: 15px;
    display: flex;
    align-items: center;
    width: 25%;
}

@media screen and (max-width: 1180px) {
    .footer-main-icons-item {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 661px) {
    .footer-main-icons-item {
        width: 90%;
        margin-bottom: 20px;
    }
}

.footer-main-icons-item-img {
    justify-content: center;
    align-items: center;
    border: 2px solid #5d3ebc;
    width: 64px;
    height: 64px;
    display: flex;
    border-radius: 50%;
}

.footer-main-icons-item img {
    width: 32px;
    height: 32px;
}

.footer-main-icons-item p {
    color: #1f1f1f;
    font-size: 16px;
    font-weight: 600;
    width: 52%;
}

.footer-main-links {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
    .footer-main-links {
        justify-content: center;
    }
}

.footer-main-links-magaza {
    width: 18%;
    background-color: #fff;
    border: 3px solid #ededed;
    border-radius: 8px;
    border-width: 4px;
    margin: unset;
    padding: 25px;
    width: 280px;
}

@media screen and (max-width: 601px) {
    .footer-main-links-magaza {
        width: 100%;
        text-align: center;
    }
}

.footer-main-links-magaza-icons span {
    display: flex;
    gap: 20px;
}

.footer-main-links-magaza-icons span img {
    height: 24px;
    width: 24px;
}

.footer-main-links-magaza-icons span p {
    color: #000;
    font-size: 13px;
    line-height: 2;
    margin-bottom: 8px;
}

.footer-main-links-magaza h2 {
    margin-bottom: 20px;
    color: #1f1f1f;
    font-size: 20px;
    font-weight: 600;
    height: 26px;
    line-height: 1.3;
}


.footer-main-links-magaza a {
    border-radius: 6px;
    display: flex;
    font-weight: 700;
    justify-content: center;
    border: 1px solid #e0e0e0;
    color: #5d3ebc;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer-main-links-magaza .second {
    background-color: #5d3ebc;
    color: #fff;
}

.footer-main-links-item {
    width: 18%;
}

@media screen and (max-width: 991px) {
    .footer-main-links-item {
        width: 30%;
    }
}

@media screen and (max-width: 601px) {
    .footer-main-links-item {
        width: 50%;
        margin-bottom: 20px;
    }
}

.footer-main-links-item h3 {
    color: #1f1f1f;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
}

.footer-main-links-item h5 {
    color: #1f1f1f;
    font-size: 13px;
    margin-bottom: 10px;
}

@media screen and (max-width: 601px) {
    .footer-main-links-item-last {
        width: 90% !important;
    }
}

.footer-main-contact {
    align-items: end;
    border-top: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 30px;
    flex-wrap: wrap;
}

.footer-main-contact-items {
    display: flex;
    align-items: end;
    width: 61%;
    gap: 15px;
}

@media screen and (max-width: 991px) {
    .footer-main-contact-items {
        width: 100%;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 30px;
        margin-top: 30px;
    }
}

.footer-main-contact-item1 {
    width: 35%;
}

@media screen and (max-width: 991px) {
    .footer-main-contact-item1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer-main-contact-item1 p {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    margin: 0 0 18px;
    text-align: start;
}

.footer-main-contact-item1-box img {
    width: 106px;
    height: 32px;
}

.footer-main-contact-item2 p {
    font-size: 16px;
    letter-spacing: -0.05px;
    line-height: 1.25;
    font-weight: 700;
    margin: 0 0 18px;
}

.footer-main-contact-item2-iconBox {
    display: flex;
    gap: 30px;
}

.footer-main-contact-item2-iconBox img {
    width: 40px;
    height: 40px;
}

.footer-main-contact-item3 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-main-contact-item3 p {
    font-size: 16px;
    letter-spacing: -0.05px;
    line-height: 1.25;
    font-weight: 700;
    margin: 0 0 18px;
}

.footer-main-contact-item4 img {
    width: 120px;
}

.footer-main-contact-item4 .trgo {
    width: 70px;
    height: 70px;
}

.footer-main-description {
    border-top: 1px solid #ececec;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-main-description-title p {
    color: #707070;
    font-size: 12px;
    line-height: 1.58;
}

.footer-main-description-title h4 {
    color: #1f1f1f;
    font-size: 12px;
    line-height: 2;
    opacity: 0.7;
}

.footer-main-description-icons img {
    width: 48px;
    height: 27px;
}

.none{
    display: none;
}


@media screen and (max-width: 1200px) {

    .for-me-section{
        display: none;
    }

  
    
.first-image {
    background-image: url(image/WhatsApp\ Image\ 2025-03-25\ at\ 10.51.33_e90960a3.jpg);

    justify-content: center;

    padding: 0 50px;
}


.electronic {
    display: flex;
    width: 100% !important;
    align-items: center;
    gap: 30px;
    padding: 10px 0;

}

.electronic-brand{
    display: flex;
    gap: 15px;
}

#product-container,#wear-container,#clothers-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
   }

}


@media screen and (max-width: 992px) {

    .category , .address-info,.user-options,.search-box ,.location {
        display: none;
     
    }

    .head-section .container .col-12 .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 93%;
    }
    .one{
        display: block;
    }

   .none{
    display: block;
   }

   #product-container,#wear-container,#clothers-container{
    flex-wrap: wrap;
   }

   .product{
    margin-top: 10px;
   }

   .electronic-brand{
    gap: 10px;
   }

   .electronic-brand div{
    height: 100px;
    width: 100px;
   }

   
   .head-section{
    padding: 10px 0;
   }

   .mobile-search-box{
    padding-top: 10px 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-search{
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 12px 0 12px 16px;
    border: 1px solid #5d3ebc;
    border-radius: 30px;
    width: 90%;

}

.mobile-search I {
    color: #5d3ebc;
}

.mobile-search input {
    border: none;
    outline: none;
    padding-left: 10px;
}

.hamburger{
    font-size: 35px;
    color: #5d3ebc;
}
}

@media screen and (max-width: 768px) {
    .head-section .container .col-12 .row {
        width: 80%;
    }
    

    #product-container,#wear-container,#clothers-container{
        flex-wrap: wrap;
        
        .product{
            width: 48% !important;
        }
       }

    .electronic-praduct{
        flex-wrap: wrap;
        justify-content: center;

        .product{
            width: 70% !important;
        }
    }

    .electronic-brand div{
        height: 60px;
        width: 60px;
    }

    .first-image{
        background-color:#D6BE9C;
        background-size: 562px;
        display: block;
        height: 1250px;
    }

    .brand-page img{
        height: 120px;
        width: 120px;
    }


}

@media screen and (max-width: 577px) {

    .head-section .container .col-12 .row {
        width: 64%;
    }
}


@media screen and (max-width: 540px) {

   .time-section{
    display: none;
   }

   #product-container,#wear-container,#clothers-container{
    flex-wrap: wrap;
    
    .product{
        width: 100% !important;
    }
   }
   .electronic-praduct{
    flex-wrap: wrap;
    justify-content: center;

    .product{
        width: 100% !important;
    }
}

.first-image{
    padding: 0px;
}
}


@media screen and (max-width: 520px) {

 .electronic-brand{
    display: none;
 }


 .head-section .container .col-12 .row {
    width: 50%;
}

 .first-image{
    height: 1160px;
 }
}