@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Unbounded', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    line-height: 1.2;


    h3 {
        color: #E9C46A;
        font-size: 25px;
        font-weight: 600;

    }

    h1 {
        font-weight: 700;
        font-size: 36px;
    }
}


.cards{
    display: flex;
    align-items: center;
    gap: 20px;
}

.card {
    width: 430px;
    background-image: url(businessman-sitting-by-table-cafe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.45);
}

.image {
    background-color: rgba(231, 111, 81, 0.85);
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin: auto;
    padding: 25px 45px;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 45%;



    img {
        min-width: 60px;
        margin: auto;
        border: 4px solid white;
        border-radius: 100px;
        width: 60px;
        height: 60px;
        object-fit: cover;
        max-width: 100%;
    }
}

.image-text {
    text-align: center;
    margin-top: 1rem;
    color: white;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.card-info {
    position: relative;
    z-index: 2;
    padding: 30px;
    text-align: left;

    p {
        color: rgba(255, 255, 255, 0.9);
        line-height: 1.8;
    }
}

.card-star {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 22;
    margin-bottom: 1rem !important;

    strong {
        color: white;
        font-size: 28px;
        margin-right: 10px;
        font-weight: 700;
    }

    i {
        color: #E9C46A;
    }
}